$ci_primaryColor: #cccccc;
$ci_primaryLightColor: lighten($ci_primaryColor, 50%);
$ci_disabledColor: lighten($ci_primaryColor, 80%);
$ci_backgroundColor: white;
$ci_barColor: #A0A0A0;
$ci_barTextColor: #FFFFFF;
$ci_dividerColor: grey;
$ci_textColor: black;
$ci_placeholderColor: #EFEFF4;
$ci_footnoteColor: #EFEFF4;
$ci_footnoteBackgroundColor: #EFEFF4;
$ci_positiveColor: green;
$ci_itemTitleColor: #444;
$ci_itemDescriptionColor: #999;
$ci_headerHeight: 50;

.ci_Header {
  color: $ci_barTextColor;
  backgroundColor: $ci_barColor;
  height: $ci_headerHeight;
}

.ci_itemBox {
  paddingHorizontal: 16;
  paddingVertical: 12;
  backgroundColor: $ci_backgroundColor;
  borderBottomWidth: 1px;
  borderBottomColor: $ci_primaryColor;
}

.ci_itemTitle {
  fontSize: 16;
  fontWeight: bold;
  color: $ci_itemTitleColor;
}

.ci_itemDescription {
  fontSize: 13;
  color: $ci_itemDescriptionColor;
}

.ci_formLabel {
//  fontSize: 20;
  marginTop: 12;
//  padding: 2px;
  fontWeight: bold;
  fontSize: 13;
  color: $ci_itemDescriptionColor;
}

.ci_formText {
  fontSize: 18;
}

.ci_formContainer {
  justifyContent: center;
  marginTop: 0;
  padding: 15px;
  backgroundColor: $ci_backgroundColor;
}
