$circleadHeaderBackgroundColor: #5d5d5d;
$circleadHeaderFontColor: #ffffff;
$circleadMenuItemTitleFontColor: #444;
$circleadMenuItemDescriptionFontColor: #999;

.circleadHeader {
  color: $circleadHeaderFontColor;
  backgroundColor: $circleadHeaderBackgroundColor;
}

.circleadMainMenuItem {
  paddingHorizontal: 16;
  paddingVertical: 12;
  backgroundColor: #fff;
  borderBottomWidth: 1px;
  borderBottomColor: #ddd;
}

.circleadStatusBarUnderlay {
  backgroundColor: $circleadHeaderBackgroundColor;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
}
.circleadMenuTitle {
  fontSize: 16;
  fontWeight: bold;
  color: $circleadMenuItemTitleFontColor;
}
.circleadMenuDescription {
  fontSize: 13;
  color: $circleadMenuItemDescriptionFontColor;
}
.circleadBannerContainer {
  backgroundColor: $circleadHeaderBackgroundColor;
  paddingTop: 0;
}
.circleadBanner {
  flexDirection: row;
  alignItems: center;
  padding: 16px;
}
.circleadBannerTitle {
  fontSize: 18;
  fontWeight: 200;
  color: $circleadHeaderFontColor;
  margin: 8px;
}
